<aside class="single_sidebar_widget" th:fragment="frag-relate-job">

	<div class="normal-title">Công việc liên quan</div>

	<ul class="card single-job-items mt-1" th:each="job: ${relatejobs}">
		<li>
			<a th:href="@{/job/viewjob/{id}(id=${job.id})}">

				<p th:text="${job.title}" />
			</a>
			<div class="row p-0">
				<div class="col"> <i class="icofont-location-pin"></i>
					<span th:text="${job.location.getName()}">Location </span>
				</div>
				<div class="col">
					<i class="icofont-money"></i>
					<span th:text="${job.getSalary}"> </span>
				</div>
			</div>
		</li>

	</ul>

		
</aside>