<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head th:replace="~{admin/frags/head :: head}"></head>

<body class="hold-transition sidebar-mini ayout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav th:replace="~{admin/frags/navbar :: navbar}"></nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<aside th:replace="~{admin/frags/aside :: aside}"></aside>

		<!--Content from here-->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" style="display: none;">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Dashboard</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard v1</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->


			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- /.row -->
					<!-- Main row -->
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h2 class="card-title">Danh sách Người sử dụng</h2>

							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<form>
									<div class="row">
										<div class="col-6">
											<input type="text" name="keyword" class="form-control pull-right"
												placeholder="Từ khóa" th:value="${keyword}">
										</div>
										<!--	<div class="col-2">
										<input type="text" class="form-control" placeholder=".col-4">
									</div>
									<div class="col-3">
										<input type="text" class="form-control" placeholder=".col-4">
									</div>
									-->
										<div class="col-2">
											<button type="submit" class="btn btn-default"><i
													class="fa fa-search"></i></button>
										</div>
										<div class="col-3">
											<a th:href="@{/admin/add-user}" class="btn btn-info float-right"><i
													class="fas fa-plus"></i>
												<span>Thêm</span>
											</a>

										</div>
									</div>
								</form>
								<!-- /.card-body -->
							</div>

							<div class="card-body">

								<table class="table table-bordered">
									<thead>
										<thead>
											<tr>
												<th style="width: 27.794263105835803%;">Người sử dụng</th>
												<th style="width: 10.62809099901088%;">Email</th>
												<th style="width: 13.748763600395646%;">Trạng thái</th>
												<th class="text-center" style="width: 16.61721068249258%;">Hành động
												</th>
											</tr>
										</thead>
									<tbody>
										<tr th:each="user :${listUser}">
											<td style="width: 40%;">
												<div class="row">
													<div class="col-6">
														<p th:text="${user.fullName}"></p>
													</div>


												</div>



											</td>
											<td th:text="${user.email}">+1 (247) 849-6968</td>

											<td th:if="${user.enabled}"> <span class="label label-success">Hiện
													thị</span>
											</td>
											<td th:if="${!user.enabled}"> <span class="label label-danger">Đang
													ẩn</span>
											</td>


											<td class="text-center">
												<ul class="list-inline me-auto mb-0">
													<a th:href="@{/admin/edit-user/{id}(id=${user.id})}"
														class="btn btn-success">Sửa</a>
													<a th:href="@{/admin/delete-user/{id}(id=${user.id})}"
														onclick="return confirm('Ban co muon xoa khong?')"
														class="btn btn-danger">Xóa</a>

												</ul>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer clearfix">
								<ul class="pagination pagination-sm m-0 float-right">
									<li class="page-item" th:if="${currentPage > 1}"><a class="page-link"
											th:href="@{'?pageNo='+${currentPage-1}}">«</a></li>
									<!--<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>-->
									<li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"
										th:classappend="${currentPage == i ? 'active':''}"><a class="page-link"
											th:text="${i}" th:href="@{'?pageNo='+${i}}"></a></li>
									<li class="page-item" th:if="${currentPage < totalPage}"><a class="page-link"
											th:href="@{'?pageNo='+${currentPage+1}}">»</a></li>
								</ul>
							</div>
						</div>
						<!-- /.card -->
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->



			<!-- /.content -->
		</div>

		<!--Content end here-->



		<!-- /.content-wrapper -->
		<footer th:replace="~{admin/frags/footer :: footer}"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<div th:replace="~{admin/frags/script :: script}"></div>

</body>