<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<meta charset="UTF-8">
<title>Logon to Job Portal</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<body>

	<head th:replace="~{admin/frags/head :: head}" />
	<!-- Login 8 - Bootstrap Brain Component -->

	<section class="bg-light p-3 p-md-4 p-xl-2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-xxl-11">
					<div class="card border-light-subtle shadow-sm">
						<div class="row g-0">
							<div class="col-12 col-md-6">
								<img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
									src="/assets/lte3/img/logo-img-1.webp" alt="Login to JobPortal">
							</div>
							<div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
								<div class="col-12 col-lg-11 col-xl-10">
									<h3>Đăng nhập <strong>Job Finder</strong></h3>
            <p class="mb-4">Ứng tuyển nhanh - tìm việc dễ</p>
										<form id="frm_login" th:action="@{/logon}" method="post" >
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" name="password"
															id="password">
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked">
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu</a></span> 
              </div>

              <input type="submit" value="Log In" class="btn btn-block btn-primary">

            </form>


				<div class="row">
											<div class="col-6">
												<a href="candidate/register" class="btn  text-dark text-decoration-none">Đăng
													ký</a>

											</div>
											<div class="col-6">
												<a href="/" class="btn  text-dark text-decoration-none">Trang chủ</a>
											</div>
										</div>



									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>


	<div th:replace="~{admin/frags/script :: script}"></div>

</body>

</html>