<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{views/fragments/head :: head}"></head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
	<!-- ============= Menu Bar// ============== -->
	<header th:replace="~{views/fragments/menu_bar :: menu_bar}"> </header>
	
	<section class="section blog-wrap mt-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12 mb-0">
							<div class="single-blog-item">
								
							<div class="blog-item-content mt-2">
									<div class="blog-item-meta mb-3">
										<span class="text-color-2 text-capitalize mr-3">
											<i class="icofont-book-mark mr-2"></i> 
												<span  th:text="${blog.blogcate.getName()}"></span>
											</span>

											
										<span class="text-muted text-capitalize mr-3">
											<i class="icofont-comment mr-2"></i>
											<span th:text="${total_comment}" /> </span>
											
										<span class="text-black text-capitalize mr-3"><i
												class="icofont-calendar mr-2"></i></span>
										<span class="text-black text-capitalize mr-3"
											th:text="${#dates.format(blog.createAt, 'dd/MM/yyyy')}" />
										<span class="text-black text-capitalize mr-3"><i
												class="icofont-eye-alt mr-2"></i></span>
										<span class="text-black text-capitalize mr-3" th:text="${blog.count}" />
									</div>

									<h2 class="mb-4 text-md" th:text="${blog.title}"></h2>
									<span class="lead mb-4" th:if="${blog.shortcontent}"
										th:utext="${blog.shortcontent}"></span>
									<img th:src="@{'/upload/blog/'+ ${blog.imageFileName}}" class="img-fluid rounded"
										alt="${{blog.imageFileName}}">
									<span class="lead mb-4" th:utext="${blog.content}"></span>

									<!--Blog tag and Shared-->

									<div class="mt-5 clearfix">
										<ul class="float-left list-inline tag-option" th:if="${listBlogTag.size > 0}"
											th:each="blogTag: ${listBlogTag}">
											<li class="list-inline-item"><a href="#" th:text="${blogTag.name}"></a></li>
										</ul>

										<ul class="float-right list-inline">
											<li class="list-inline-item"> Share: </li>
											<li class="list-inline-item"><a href="#" target="_blank"><i
														class="icofont-facebook" aria-hidden="true"></i></a></li>
											<li class="list-inline-item"><a href="#" target="_blank"><i
														class="icofont-twitter" aria-hidden="true"></i></a></li>
											<li class="list-inline-item"><a href="#" target="_blank"><i
														class="icofont-pinterest" aria-hidden="true"></i></a></li>
											<li class="list-inline-item"><a href="#" target="_blank"><i
														class="icofont-linkedin" aria-hidden="true"></i></a></li>
										</ul>
									</div>
									<!--End Blog tag and Shared-->

								</div>
							</div>
						</div>

						<!--Comment of Blog-->
						<div class="col-lg-12">
							<div class="comment-area mt-4 mb-5" th:if="${list_comment.size}">
								<h4 class="mb-4"><span th:text="${list_comment.size}" /> Comments </h4>
								<ul class="comment-tree list-unstyled" th:each="comment :${list_comment}">
									<li class="mb-5">
										<div class="comment-area-box">
											<div class="comment-thumb float-left">
												<img alt="" src="/blog/testimonial1.jpg" class="img-fluid">
											</div>

											<div class="comment-info">
												<h5 class="mb-1" th:text="${comment.name}" />
												<!--<span>United Kingdom</span> ${comment.createAt} -->
												<span class="date-comm"
													th:text="${#dates.format(comment.createAt, 'dd-MM-yyyy HH:mm')}"></span>
											</div>
											<div class="comment-meta mt-2">
												<a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
											</div>

											<div class="comment-content mt-3">
												<p th:text="${comment.content}"></p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!--End Comment of Blog-->

						<!--Write Comment of Blog-->

						<div class="col-lg-12">
							<form class="comment-form my-5" id="comment-form" th:action="@{/blog/add-comment}"
								th:object="${comment}" method="POST">
								<h4 class="mb-4">Write a comment</h4>
								<div class="row" th:blog-id="${blog.id}">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" name="name" id="name"
												placeholder="Name:">
											<small id="usercheck" class="form-text text-muted invalid-feedback">Enter
												valid name
											</small>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" type="text" name="email_comment"
												id="email_comment" placeholder="Email:">
											<small id="emailvalid" class="form-text text-muted invalid-feedback">
												Your email must be a valid email
											</small>
										</div>
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control" type="text" name="content" id="content"
										placeholder="Comment"></textarea>

								</div>

								<input class="btn btn-main-2 btn-round-full btn-send-comment" type="button"
									name="submit-contact" id="submit_contact" value="Submit Message">

								<small id="message_send" class="form-text text-muted invalid-feedback">
									You send mesage successful
								</small>
							</form>
						</div>
						<!--End Write Comment of Blog-->
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="normal-title">Danh mục bài viết</h4>
							<ul class="card single-job-items mt-1" th:each="cate :${listCate}">
								<li>
									<a th:href="@{/blog/blogbycate/{id}(id=${cate.id})}" class="d-flex">
										<p th:text="${cate.name}"></p>
									</a>
								</li>

							</ul>
						</aside>

						<div class="sidebar-widget latest-post mb-3">
							<div class="job_right_sidebar" border>
								<aside th:replace="~{views/fragments/jobs/frag-recent-job :: frag-recent-job}"></aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer Include -->
	<div th:replace="~{views/fragments/footer :: footer}"></div>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>
</body>

</html>