<aside class="main-sidebar sidebar-light-primary elevation-4" th:fragment="aside">
	<!-- Brand Logo -->
	<a href="#" class="brand-link">
		<!--
			<img src="/assets/lte3/img/AdminLTELogo.png" alt="Job Portal" class="brand-image img-circle elevation-3"
			style="opacity: .8">
		-->
		<span class="brand-text font-weight-light">Job Portal Panel</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview menu-open">
					<a th:href="@{/admin}" class="nav-link active">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<!--
						<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/admin}" class="nav-link active">
								<i class="far fa-circle nav-icon"></i>
								<p>Dashboard v1</p>
							</a>
						</li>
							<li class="nav-item">
									<a href="./index2.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Dashboard v2</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="./index3.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Dashboard v3</p>
									</a>
								</li>
					</ul>-->
				</li>
				<li class="nav-item">
					<a th:href="@{/admin/users}" class="nav-link">
						<!--
								<a th:href="@{/admin/users}" class="nav-link">
--> 
					<i class="nav-icon fas fa-users"></i>
						<p>
							Người sử dụng
							<span class="right badge badge-danger">New</span>
						</p>
					</a>
				</li>
				<!--Begin List-->
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-list"></i>
						<p>
							Danh mục chung
							<i class="fas fa-angle-left right"></i>
							<span class="badge badge-info right">6</span>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/admin/users}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Users List</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/jobcategory}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Ngành nghề</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/location}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Khu vực </p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/workingmodel}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Hình thức làm việc </p>
							</a>
						</li>
<!--	
						<li class="nav-item">
							<a th:href="@{/admin/tastimonial/list}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Người tư vấn</p>
							</a>
						</li>
									<li class="nav-item">
									<a th:href="@{/admin/slide/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Slide</p>
									</a>
								</li>
								<li class="nav-item">
									<a th:href="@{/admin/gallery/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Gallery</p>
									</a>
								</li>
								<li class="nav-item">
									<a th:href="@{/admin/service/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Our 	Service</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/layout/collapsed-sidebar.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Collapsed Sidebar</p>
									</a>
								</li>
-->
					</ul>
				</li>
				<!--End List-->
				<!--Begin Company -->
				<li class="nav-item has-treeview">
					<a th:href="@{/admin/enterprise/list}" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Doanh nghiệp
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<!--	<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="pages/charts/chartjs.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>ChartJS</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/charts/flot.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Flot</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/charts/inline.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Inline</p>
									</a>
								</li>
							</ul>-->
				</li>
				<!--End Company-->

				<li class="nav-item has-treeview">
					<a th:href="@{/admin/job/list}" class="nav-link">
						<i class="nav-icon fas fa-tasks"></i>
						<p>
							Việc đang tuyển
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<!--			<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/admin/job/list}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Việc đang tuyển</p>
							</a>
						</li>
													
								<li class="nav-item">
									<a th:href="@{/admin/job/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Expried jobs</p>
									</a>
								</li>
								<li class="nav-item">
									<a th:href="@{/admin/job/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Hot Jobs</p>
									</a>
								</li>
								<li class="nav-item">
									<a th:href="@{/admin/job/list}" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Sliders</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/UI/modals.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Modals & Alerts</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/UI/navbar.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Navbar & Tabs</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/UI/timeline.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Timeline</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/UI/ribbons.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Ribbons</p>
									</a>
								</li>
					</ul>-->
				</li>
				<li class="nav-item has-treeview">
					<a th:href="@{/admin/tastimonial/list}" class="nav-link">
						<i class="nav-icon fas fa-quote-left"></i>
						<p>
							Người tư vấn
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>					
				</li>
				<li class="nav-item has-treeview">
					<a th:href="@{/admin/candidates}" class="nav-link">
						<i class="nav-icon fas fa-user-plus"></i>
						<p>
							Danh sách Ứng viên
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>					
				</li>
				
				<li class="nav-item has-treeview" style="display: block;">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-table"></i>
						<p>
							Bài viết
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a th:href="@{/admin/blog/list}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Danh sách bài viết</p>
							</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/admin/blogcate}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Nhóm bài viết</p>
							</a>
						</li>
					<li class="nav-item">
							<a th:href="@{/admin/category}" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Danh mục bài viết</p>
							</a>
						</li>
					</ul>
				</li>
				<!--	
						<li class="nav-header">EXAMPLES</li>
						<li class="nav-item">
							<a href="pages/calendar.html" class="nav-link">
								<i class="nav-icon far fa-calendar-alt"></i>
								<p>
									Calendar
									<span class="badge badge-info right">2</span>
								</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="pages/gallery.html" class="nav-link">
								<i class="nav-icon far fa-image"></i>
								<p>
									Gallery
								</p>
							</a>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-envelope"></i>
								<p>
									Mailbox
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="pages/mailbox/mailbox.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Inbox</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/compose.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Compose</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/mailbox/read-mail.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Read</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Pages
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="pages/examples/invoice.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Invoice</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/profile.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Profile</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/e_commerce.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>E-commerce</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/projects.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Projects</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/project_add.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Project Add</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/project_edit.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Project Edit</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/project_detail.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Project Detail</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/contacts.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Contacts</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-plus-square"></i>
								<p>
									Extras
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="pages/examples/login.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Login</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/register.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Register</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/forgot-password.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Forgot Password</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/recover-password.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Recover Password</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/lockscreen.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Lockscreen</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/legacy-user-menu.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Legacy User Menu</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/language-menu.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Language Menu</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/404.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Error 404</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/500.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Error 500</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/pace.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Pace</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="pages/examples/blank.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Blank Page</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="starter.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Starter Page</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-header">MISCELLANEOUS</li>
						<li class="nav-item">
							<a href="https://adminlte.io/docs/3.0" class="nav-link">
								<i class="nav-icon fas fa-file"></i>
								<p>Documentation</p>
							</a>
						</li>
						<li class="nav-header">MULTI LEVEL EXAMPLE</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fas fa-circle nav-icon"></i>
								<p>Level 1</p>
							</a>
						</li>
						<li class="nav-item has-treeview">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-circle"></i>
								<p>
									Level 1
									<i class="right fas fa-angle-left"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Level 2</p>
									</a>
								</li>
								<li class="nav-item has-treeview">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>
											Level 2
											<i class="right fas fa-angle-left"></i>
										</p>
									</a>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
											</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Level 2</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fas fa-circle nav-icon"></i>
								<p>Level 1</p>
							</a>
						</li>
						<li class="nav-header">LABELS</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-danger"></i>
								<p class="text">Important</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-warning"></i>
								<p>Warning</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-info"></i>
								<p>Informational</p>
							</a>
						</li>
			-->
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>