<div th:fragment="apply-process">
	<div class="online-cv pt-10 pb-10">
		<div class="container" th:data-background="@{/assets-fe/img/banner/company_cover_1.webp}">
			<div class="row justify-content-center">
				<div class="col-xl-10">
					<div class="cv-caption text-center">
						<p class="sub-title2"> Hỗ trợ tìm kiếm việc làm cho Kỹ sư người Việt Nam tại Nhật</p>
					</div>

				</div>
			</div>
		</div>
	</div>
		
	<div class="container apply-process-area apply-bg pt-15 pb-15" >
		<div class="container">
			<!-- Apply Process Caption -->
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-process text-center mb-30">
						<div class="process-ion">
							<span class="flaticon-search"></span>
						</div>
						<div class="process-cap">
							<h5>1. Tìm công việc phù hợp</h5>
							<p>Bạn hãy tìm các công việc theo ngành nghề, địa điểm làm việc, mức lương phù hợp với
								chuyên môn</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-process text-center mb-30">
						<div class="process-ion">
							<span class="flaticon-curriculum-vitae"></span>
						</div>
						<div class="process-cap">
							<h5>2. Ứng tuyển để gửi hồ sơ</h5>
							<p>Đăng nhập, tạo hồ sơ / upload CV và thực hiện ứng tuyển vào các công việc phù hợp </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-process text-center mb-30">
						<div class="process-ion">
							<span class="flaticon-tour"></span>
						</div>
						<div class="process-cap">
							<h5>3. Liên hệ với tư vấn viên</h5>
							<p>Bạn hãy liên hệ với các nhân viên tư vấn tuyển dụng để được hỗ trợ tư vấn nhanh nhất</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

