<!-- Footer -->
<footer class="text-center " th:fragment="footer">
	
<div class="footer">
		<hr>
		<div class="footer-top ">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>About Us</h3>
							<ul class="tr-list">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">International Partners</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Job Seekers</h3>
							<ul class="tr-list">
								<li><a href="#">Create Account</a></li>
								<li><a href="#">Career Counseling</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Video Guides</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Employers</h3>
							<ul class="tr-list">
								<li><a href="#">Create Account</a></li>
								<li><a href="#">Products/Service</a></li>
								<li><a href="#">Post a Job</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Newsletter</h3>
							<p>Earum cumque doloribus, incidunt! Tempora voluptatibus</p>
							<form class="contact-form" method="post" action="#">
								<div class="form-group">
								    <input type="email" class="form-control" required="required" placeholder="Your email Id">
								</div>          
								
							    <div class="form-group">
								    <button type="submit" class="btn">Sign Up</button>
							    </div>
							</form>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->
	<!--
		<div class="footer-bottom">
				<div class="container">
				<div class="copyright">
					<p>Copyright © 2017 <a href="#">Seeker.com.</a> All rights reserved.</p>
				</div>
				<div class="footer-social pull-right">
					<ul class="tr-list">
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- /.footer-bottom -->
	</div>
	<!-- Copyright -->
	<div class="footer-section text-center p-3">
		<span>
		<a class="" href="#">© 2025 Copyright: Life Support</a></span>
	<!-- Copyright -->
	
<style>

/* Footer */

.footer-top {
	background-color: #fff;
}

.footer-widget h3 {
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
}

.footer-widget li {
	margin-bottom: 20px;
}

.footer,
.footer a {
	color: #858585;
}

.footer a:hover {
	color: #008def;
}

.footer-bottom {
	padding: 25px 0 15px;
}

.footer .copyright {
	float: left;
}

.footer-social li {
	float: left;
}

.footer-social li+li {
	margin-left: 20px;
}

.footer-social li a {
	font-size: 16px;
	color: #d1cfd1;
}

.footer-widget .form-control {
	margin: 30px 0 20px;
	background-color: transparent;
}



</style>	
	
	
</footer>
<!-- Footer -->