<head th:fragment="head">
	<!doctype html>
	<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Portal Introducing jobs to engineers living in Japan </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/assets-fe/img/favicon.ico">

	<link rel="stylesheet" th:href="@{/assets-fe/css/bootstrap.min.css}">
<!--	<link rel="stylesheet" th:href="@{/assets-fe/css/owl.carousel.min.css}">
-->	<link rel="stylesheet" th:href="@{/assets-fe/css/flaticon.css}">
<!--	<link rel="stylesheet" th:href="@{/assets-fe/css/price_rangs.css}">
-->	<link rel="stylesheet" th:href="@{/assets-fe/css/slicknav.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/animate.min.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/slick.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/nice-select.css}">
	
	<!--Toast CSS-->
	<link rel="stylesheet" th:href="@{/assets-fe/toast/css/jquery.toast.css}">
	
	<!--Main style sheet-->
	<link rel="stylesheet" th:href="@{/assets-fe/css/style.css}">
	<link rel="stylesheet" th:href="@{/assets-fe/css/style-additional.css}">
	<!-- Icon Font Css -->
	<link rel="stylesheet" th:href="@{/assets/lte3/plugins/icofont/icofont.min.css}">
	<!-- owl-carousel -->
	<!--<link th:href="@{/assets-fe/owl-carousel/css/bootstrapTheme.css}" rel="stylesheet">
		<link th:href="@{/assets-fe/owl-carousel/css/custom.css}" rel="stylesheet">
   	-->
	<!-- Owl Carousel Assets -->
	<link th:href="@{/assets-fe/owl-carousel/owl-carousel/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{/assets-fe/owl-carousel/owl-carousel/owl.theme.css}" rel="stylesheet">

	<!-- Prettify -->
	<link th:href="@{/assets-fe/owl-carousel/js/google-code-prettify/prettify.css}" rel="stylesheet">


</head>