<!-- <div class="container" th:data-background="@{/assets-fe/img/banner/banner-featured.jpg}" th:fragment="search-area"> -->
<div class="container mt-1" th:fragment="search-area-small">
	<div class="row ">
		<div class="col-xl-12">			
			<form action="/job" class="search-box">
				<div class="input-form">
					<input type="text" name="keyword" th:value="${keyword}" placeholder="Tìm kiếm: tiêu đề, công ty, địa điểm, khu vực">
				</div>
				
				<div class="select-form">
					<div class="select-items">
						<select name="location" id="location">
							<option value="">Địa điểm làm việc </option>
							<option th:each="location : ${locations}" th:value="${location.id}"
								th:text="${location.name}">
							</option>
						</select>
					</div>
				</div>

				<div class="search-form">
					<a href="" onclick="this.closest('form').submit();return false;">Tìm kiếm</a>
				</div>
			</form>
		</div>
	</div>
</div>