<div th:fragment="blog-on-homepage">

	<!-- Section Tittle -->
			<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<div class="section-tittle text-center">
				<h2>Cẩm nang nghề nghiệp</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-3 col-lg-6 col-md-6 p-20" th:each="blog: ${blogOnHomePage}">
			<div class="home-blog-single mb-30 ">
				<div class="blog-img-cap">
					<div class="blog-img">
						<img th:src="@{'/upload/blog/'+ ${blog.imageFileName}}" alt="" height="250" width="95%">
						<!-- Blog date -->
						<!--
							<div class="blog-date text-center">
							<span>24</span>
							<p>Now</p>
						</div>
						-->
					</div>
					<div class="card-body">
						<a th:href="@{/blog/view/{id}(id=${blog.id})}">
							<p th:text="${blog.title}" />
						</a>
					</div>
				</div>
			</div>
		</div>



	</div>
	</div>


</div>