<div class=" " th:fragment="frag-category-list">

	<div class="container ">

        <div class="row  mt-2">
			<div class="col-lg-12">
				<div class="normal-title">
					<h5>Ngành nghề phổ biến</h5>
				</div>
			</div>
			
		</div>

        <div id="owl-category-on-homepage" class=" p-2">
			<ul th:each="cate: ${popular_jobcates}">
				<div class="item text-center">
					<a th:href="@{/job/jobbycate/{id}(id=${cate.id})}">
						<img class="img-fluid img-thumbnail mb-2" style="height: 80px; width: 80px;"
							th:src="@{'/upload/jobcate/'+ 'jobcate.png'}" alt="..." /></a>
					<h6 th:text=${cate.name}>Can touch this</h6>
				</div>
			</ul>

		</div>
	</div>
</div>