<div class=" " th:fragment="frag-category-list">

	<div class="container ">

        <div class="row  mt-2">
			<div class="col-lg-6">
				<div class="normal-title">
					<h5> Công việc theo ngành nghề</h5>
				</div>
			</div>
			
		</div>

		<div class="row d-flex justify-contnet-center ">
            <!--      
			<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" th:each="cate: ${lists}">
                        <div class="single-services text-center mb-10 border">
                            
							<div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
							
                            <div class="services-cap">
                                <h5><a href="job_listing.html" th:text="${cate.name}" class="genric-btn primary-border circle arrow">Design &amp; Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-10">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Sales &amp; Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html"> Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-10">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Sales &amp; Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="job_listing.html">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
-->
<!--		<div id="owl-category-on-homepage_" class="owl-carousel our-services section-pad-t10">
			<ul th:each="cate: ${lists}">

				<div class="items bg-light pd-4">
					<a th:href="@{/job/jobbycate/{id}(id=${cate.id})}">
						<h6 th:text="${cate.name}"></h6>
					</a>
				</div>

			</ul>
		</div>
-->


		<div id="owl-category-on-homepagevv" class="button-group-area p-2">
			<span th:each="cate: ${lists}">
				<a th:href="@{/job/jobbycate/{id}(id=${cate.id})}" class="genric-btn primary-border circle arrow"
					th:text="${cate.name}" />
					
			</span>
			<span >
				<a class="genric-btn primary-border circle arrow"
					>Xem thêm</a>
			</span>	</div>

		<!--		<div id="owl-category-on-homepage" class="owl-carousel border our-services section-pad-t10">
-->
		<!--	<div  class="button-group-area mt-10">
				<span  th:each="cate: ${lists}">
				<a th:href="@{/job/jobbycate/{id}(id=${cate.id})}" class="genric-btn primary-border circle"  th:text="${cate.name}">Primary</a>
			</span>

		</div>-->

		<!--<div class="customNavigation" style="display: none;">
			<a class="btn prev">Previous</a>
			<a class="btn next">Next</a>
			<a class="btn play">Autoplay</a>
			<a class="btn stop">Stop</a>
		</div>-->


	</div>
</div>