<div class="container mt-5" id="featureContainer" th:fragment="frag-company-list">

	<div class="container" >

		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle">
					<h2>Nhà tuyển dụng tiêu biểu</h2>
				</div>
			</div>
		</div>


		<div id="owl-company" class="owl-carousel">
			<ul th:each="enterprise: ${listEnterprise}">
				<div class="item">
					<a th:href="@{/job/viewEnterprise/{id}(id=${enterprise.id})}">
						<img class="img-fluid img-thumbnail" style="height: 170px; width: 180px;"
							th:src="@{'/upload/enterprise/'+ ${enterprise.logoName}}" alt="..." /></a>
					<!--<h3>Touch</h3>
					<h6 th:text=${enterprise.name}>Can touch this</h6>-->
				</div>
			</ul>

		</div>
	</div>