<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head th:replace="~{admin/frags/head :: head}"></head>

<body class="hold-transition sidebar-mini ayout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav th:replace="~{admin/frags/navbar :: navbar}"></nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->

		<aside th:replace="~{admin/frags/aside :: aside}"></aside>

		<!--Content from here-->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header" style="display: none;">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Dashboard</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard v1</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- SEARCH FORM -->

					<!-- Small boxes (Stat box) -->
					<!--<div class="row" th:replace="~{admin/frags/stat_box :: stat_box}">
					</div>
					-->
					<!-- /.row -->
					<!-- Main row -->
					<div class="col-md-12">
						<div class="card">
							<div class="card-header ">
								<h3 class="card-title">Danh sách nhà tuyển dụng</h3>

							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<div class="card card-danger">
									<!--<div class="card-header">
										<h3 class="card-title">Different Width</h3>
									</div>-->
									<div class="card-body">
										<form>

											<div class="row">
												<div class="col-6">
													<input type="text" name="keyword" class="form-control pull-right"
														placeholder="Tìm theo tên" th:value="${keyword}">
												</div>
												<div class="col-2">
													<button type="submit" class="btn btn-default"><i
															class="fa fa-search"></i></button>
												</div>
												<div class="col-3">
													<a th:href="@{/admin/enterprise/add}"
														class="btn btn-info float-right"><i class="fas fa-plus"></i>
														<span>Thêm mới</span>
													</a>

												</div>
											</div>
										</form>
									</div>
									<!-- /.card-body -->
								</div>
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th style="width: 20px"> #</th>
											<th> Tên doanh nghiệp tuyển dụng</th>
											<th> Hành động </th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="enterprise: ${enterprises}">
											<td style="width:10%;">
												<img th:if="${enterprise.getDefaultLogo()}==true"
													th:src="@{'/upload/default.png'}" alt="..." width="80">
												<img th:unless="${enterprise.getDefaultLogo}==true"
													th:src="@{'/upload/enterprise/'+ ${enterprise.logoName}}" alt="..."
													width="90">
											
												
											
											</td>
											<td style="width:65%;">
												<div class="row">
													<div class="col-12"><a th:text="${enterprise.name}"></a></div>
												</div>
												<div class="row">

													<div class="col-12">
														<i class="icofont-location-pin"></i>
														<span>Địa chỉ: </span><span th:text="${enterprise.address}">
														</span>
													</div>
												</div>
												<div class="row">
													<div class="col-6">
														<i class="icofont-users"></i>
														<span>Quy mô: </span>
														<span th:text="${enterprise.numberOfEmployee}" />
													</div>
													<div class="col-6 text-right" style="display: block;">
														<i class="icofont-calendar"></i>
														<span>Nhóm: </span>
														<span th:text="${enterprise.industrialType.getName()}" />

													</div>

												</div>
											</td>
											<td style="width:25%;">
												<div class="row">
													<div class="col-sm-2 pd-2">
														<span class="badge bg-default">
															<a th:href="@{/admin/enterprise/edit(id=${enterprise.id})}"
																class="btn  btn-sm"><i class="fas fa-pencil-alt">
																</i> </a></span>
													</div>
													<div class="col-sm-2 pd-2">
														<span class="badge bg-default  pd-2">
															<a th:href="@{/admin/enterprise/delete(id=${enterprise.id})}"
																class="btn btn-sm"
																onclick="return confirm('Are you sure?')"><i
																	class="fas fa-trash">
																</i> </a></span>
													</div>
													<div class="col-sm-4 pd-2">
														<span class="badge bg-default">
															<a th:href="@{/admin/job/add-job(enterprise_id=${enterprise.id})}"
																class="btn  btn-sm">
																<i class="icofont-search-job"></i>Thêm Job</a></span>
													</div>
												</div>
												<!--						
												<div class="row">
													<div class="col-sm-6" style="display: block;">
														<span class="badge bg-success">
															<a th:href="@{/admin/enterprise/edit(id=${enterprise.id})}"
																class="btn btn-sm"><i
																	class="icofont-book-mark"></i>Save</a>
													</div>
													<div class="col-sm-6">
														<span class="badge bg-primary">
															<a th:href="@{/admin/job/add-job(enterprise_id=${enterprise.id})}"
																class="btn  btn-sm">
																<i class="icofont-search-job"></i>AddJob</a></span>
													</div>
												</div>

												-->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer clearfix">
								<ul class="pagination pagination-sm m-0 float-right">
									<li class="page-item" th:if="${currentPage > 1}"><a class="page-link"
											th:href="@{'?pageNo='+${currentPage-1}}">«</a></li>
									<!--<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>-->
									<li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"
										th:classappend="${currentPage == i ? 'active':''}"><a class="page-link"
											th:text="${i}" th:href="@{'?pageNo='+${i}}"></a></li>
									<li class="page-item" th:if="${currentPage < totalPage}"><a class="page-link"
											th:href="@{'?pageNo='+${currentPage+1}}">»</a></li>
								</ul>
							</div>
						</div>
						<!-- /.card -->
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>

		<!--Content end here-->



		<!-- /.content-wrapper -->
		<footer th:replace="~{admin/frags/footer :: footer}"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<div th:replace="~{admin/frags/script :: script}"></div>

</body>