<!--<section class="featured-job-area feature-padding" th:fragment="view-enterprise">
-->

<head th:replace="~{views/fragments/head :: head}"></head>

<body>
	<!-- Header Start -->
	<header th:replace="~{views/fragments/menu_bar_2 :: menu_bar_2}"> </header>

	<main>

		<!--Begin-->

		<div class=" container py-2 ">
			<div class="row pt-15 ">
				<div th:replace="~{views/employer/profile-panel :: profile-panel}"></div>
				<div class="col-xl-9 col-lg-9 col-md-8">
					<div class="normal-title">
						<p class="mb-2">Ứng viên đã ứng tuyển</p>
					</div>

					<div class="card-body" th:if="${message == 'null_enterprise'}">
						<!-- Trang Nhà Tuyển dụng -->
						<h6>Chua update Employer</h6>
					</div>



					<div class="row" th:unless="${message == 'null_enterprise'}">
						<div class="col-sm-12 ">

							<div class="list-group" th:each="user :${users}">

								<a href="#" class="list-group-item list-group-item-action py-2 mb-2"
									aria-current="true">
									<div class="row">
										<div class="col-sm-2">
											<img th:if="${user.avata != null}" 
											class="img-thumbnail" th:src="@{'/upload/user/'+ ${user.avata}}"
												style="width: 80px; height: 80px;" alt="">
										</div>
										<div class="col-sm-10">
											<div class="d-flex w-100 justify-content-between">
												<h5 class="mb-1" th:text="${user.fullName}">John Doe</h5>
												<small>3 days ago</small>
											</div>
											<small class="text-muted" th:text="${user.email}">j.doe@example.com</small>
											<p class="mb-1">Software Developer at
												https://getbootstrap.com/docs/5.3/components/list-group/
											</p>
											<p class="mb-1">
											<div class="row">
												<div class="col-4">Kinh nghiem</div>
												<div class="col-8">Địa chỉ</div>
											</div>

											</p>

										</div>
									</div>
								</a>
							</div>
						</div>
					</div>


					<!--Pagination Start  -->
					<div class="pagination-area pt-2 pb-10 text-center" th:if="${totalPage > 0}">
						<div class="container">
							<div class="row">
								<div class="col-xl-12">
									<div class="single-wrap d-flex justify-content-center">
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-start">

												<li class="page-item" th:if="${currentPage > 1}">
													<a class="page-link" th:href="@{'?pageNo='+${currentPage-1}}">
														<span class="ti-angle-left"></span></a>
												</li>
												<li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}"
													th:classappend="${currentPage == i ? 'active':''}">
													<a class="page-link" th:text="${i}"
														th:href="@{'?pageNo='+${i}}"></a>
												</li>

												<li class="page-item" th:if="${currentPage < totalPage}">
													<a class="page-link" th:href="@{'?pageNo='+${currentPage+1}}"><span
															class="ti-angle-right"></span></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Pagination End  -->
					<!--Hết Danh sách CV - Hồ sơ-->
				</div>

			</div>
		</div>
		</div>

		<!--End-->



	</main>

	<!-- Footer Include -->
	<div th:replace="~{views/fragments/footer :: footer}"></div>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>
</body>

</html>