<head th:replace="~{views/fragments/head :: head}"></head>

<body>
	<!-- Header Start -->
	<header th:replace="~{views/fragments/menu_bar_2 :: menu_bar_2}"> </header>

	<main>

		<!--Begin-->
			<div class="container py-2">
				<div class="row  pt-15">
					<div th:replace="~{views/employer/profile-panel :: profile-panel}"></div>
					<div class="col-lg-9">
							<div class="col-sm-12  d-flex justify-content-between align-items-center">
								<div class="widget_title">
									<p class="mb-2">Cập nhật thông tin doanh nghiệp</p>
								</div>
							</div>
							<div class="card-body border">
								<!--fdfdfdf-->
								<form id="frm_edituser" enctype="multipart/form-data" th:action="@{/employer/editemployer}"
									th:object="${employer}" method="POST">
									<input type="hidden" name="id" th:value="${employer.id}" />
									<div class="row">
										<div class="col-sm-9 border">
											<ul class="list-group list-group-flush rounded-3">
												<li
													class="list-group-item d-flex justify-content-between align-items-center p-2">
													<div class="col-sm-4">
														<p class="mb-0">Tên công ty</p>
													</div>
													<div class="col-sm-8 form-group">
														<input type="text" id="name" name="name"
															class="form-control" th:field="*{name}"
															placeholder="Họ và tên" />
													</div>
												</li>
												<!--
												<li
													class="list-group-item d-flex justify-content-between align-items-center p-2">
													<div class="col-sm-4">
														<p class="mb-0">Tên đăng nhập</p>
													</div>
													<div class="col-sm-6">
														<p class="text-muted mb-0" th:text="${loggedUser.userName}">Trần
															Văn
															Long</p>
													</div>
												
													<div class="col-sm-2">
														<a th:href="@{/candidate/change-pasword/}"><span
																class="badge rounded-pill bg-primary">Đổi mật
																khẩu</span>
														</a>
													</div>
													</li>
												-->	
												
												<li
													class="list-group-item d-flex justify-content-between align-items-center p-2">
													<div class="col-sm-4">
														<p class="mb-0">Địa chỉ</p>
													</div>
													<div class="col-sm-8 form-group">
														<input type="text" id="address" name="address"
															class="form-control" th:field="${employer.address}"
															placeholder="Nhập địa chỉ" />
													</div>
												</li>
												<!--
												<li
													class="list-group-item d-flex justify-content-between align-items-center p-2">
													<div class="col-sm-4">
														<p class="mb-0">Email</p>
													</div>
													<div class="col-sm-8 form-group">
														<input type="text" id="email" name="email" class="form-control"
															th:field="*{email}" placeholder="" />

													</div>
												</li>
												-->
												<!--
												<li
													class="list-group-item d-flex justify-content-between align-items-center p-2">
													<div class="col-sm-4">
														<p class="mb-0">Giới tính</p>
													</div>
													<div class="col-sm-8">
														<div>
															<label> </label>
															<div class="form-check form-check-inline">
																<input type="radio" name="gender"
																	class="form-check-input" th:field="*{gender}"
																	value="1" checked="checked" />
																<label class="form-check-label"
																	for="inlineRadio1">Nam</label>
															</div>

															<div class="form-check form-check-inline">
																<input type="radio" name="gender"
																	class="form-check-input" th:field="*{gender}"
																	value="0" />
																<label class="form-check-label"
																	for="inlineRadio2">Nữ</label>
															</div>
														</div>


													</div>
												</li>
												-->
											</ul>
										</div>
									</div>

							</div>
							<div  class="card-body text-center">
									<button type="submit" id="btn_save_user" class="btn btn-primary">Lưu thông tin</button>
							</div>
							</form>


						</div>


					</div>


				</div>
			</div>
		<!--End-->



	</main>

	<!-- Footer Include -->
	<div th:replace="~{views/fragments/footer :: footer}"></div>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>
</body>

</html>