<head th:replace="~{views/fragments/head :: head}"/>
<body>
	<!-- Header Start -->
	<header th:replace="~{views/fragments/menu_bar_2 :: menu_bar_2}"> </header>
	<main>
		<!--Begin-->
		<div class="container py-2">
			<div class="row  pt-15">
				<div th:replace="~{views/employer/profile-panel :: profile-panel}"/>
				<div class="col-xl-9 col-lg-9 col-md-8">
					<div class="container p-2">
						<!--Thông tin cá nhân-->
						<div class="row">
							<div class="col-sm-12 d-flex justify-content-between align-items-center" th:switch="${employer}">
								<div class="widget_title">
									<p class="mb-2">Thông nhà tuyển dụng</p>
								</div>
							</div>
						</div>
						<div class="card-body ">
							<form id="frm_enterprise" enctype="multipart/form-data" th:action="@{/employer/edit-employer}" th:object="${employer}" method="POST">
								<input type="hidden" name="id" th:value="${employer.id}"/>
								<div class="row">
									<div class="col-sm-12 border">
										<ul class="list-group list-group-flush rounded-3">
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Tên công ty</p>
												</div>
												<div class="col-sm-8 form-group">
													<input type="text" id="name" name="name" class="form-control" th:field="*{name}" placeholder="Họ và tên"/>
												</div>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Địa chỉ</p>
												</div>
												<div class="col-sm-8 form-group">
													<input type="text" id="address" name="address" class="form-control" th:field="${employer.address}" placeholder="Nhập địa chỉ"/>
												</div>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Lĩnh vực</p>
												</div>
												<div class="col-sm-8 form-group">
													<select class="form-select" id="IndustrialType" name="IndustrialType" th:field="${employer.industrialType}">
														<option th:each="cate : ${industrialType}" th:value="${cate.id}" th:text="${cate.name}">
												</option>
													</select>
												</div>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Quy mô</p>
												</div>
												<div class="col-sm-8 form-group">
													<input type="text" id="numberOfEmployee" name="numberOfEmployee" class="form-control" th:field="*{numberOfEmployee}" placeholder=""/>
												</div>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Website</p>
												</div>
												<div class="col-sm-8 form-group">
													<input type="text" id="website" name="website" class="form-control" th:field="*{website}" placeholder=""/>
												</div>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center p-2">
												<div class="col-sm-4">
													<p class="mb-0">Giới thiệu</p>
												</div>
												<div class="col-sm-8 form-group">
													<textarea type="text" id="introduction" name="introduction" class="form-control" th:field="*{introduction}" rows="5" placeholder=""/>
												
											<script>
													ClassicEditor
														.create(document.querySelector('#introduction'), {
															height: 800,
															toolbar: [
																'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
																'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList'
															],
														})
														.catch(error => {
															console.error(error);
														});
												</script>
												</div>
											</li>
										
										</ul>
									</div>
								</div>
							</div>
							<div class="card-bottom text-center">
								<button type="submit" id="btn_save" class="btn btn-primary">Lưu thông tin</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--End-->
	</main>
	<!-- Footer Include -->
	<div th:replace="~{views/fragments/footer :: footer}"/>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"/>
</body>
</html>