<div class="col-lg-3" th:fragment="profile-panel">
	<div class="container p-2">
		<!--
			<div class="widget_title">
			<p class="mb-2">Thông tin ứng viên</p>

		</div>
		-->
		<div class="text-center">
			<!--
				<img th:if="${loggedUser.avata == null}"
				src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
				class="rounded-circle img-fluid" style="width: 150px;">
				-->

			<img th:if="${loggedUser.avata}" id="user_image" th:src="@{'/upload/user/'+ ${loggedUser.avata}}"
				class="rounded-circle img-fluid" width="150px" height="160">

			<div>
				<h5 class="my-3" th:text="${loggedUser.fullName}">John Smith</h5>

			</div>
		</div>
		<ul class="list-group ">
			<li class="list-group-item candidate_panel-items d-flex">
				<a th:href="@{/candidate/}">
					<p class="mb-0">BẢNG ĐIỀU KHIỂN</p>
				</a>
			</li>
			<li class="list-group-item candidate_panel-items d-flex">
				<a th:href="@{/candidate/account/}">
					<p class="mb-0">Thông tin tài khoản</p>
				</a>
			</li>
			<li class="list-group-item candidate_panel-items">
				<a th:href="@{/candidate/profile/}">
					<p class="mb-0">Hồ sơ / CV</p>
				</a>

			</li>
			<li class="list-group-item candidate_panel-items">
				<a th:href="@{/candidate/view-apply-job/}">
					<p class="mb-0">Job đã ứng tuyển</p>
				</a>
			</li>
			<li class="list-group-item candidate_panel-items">
				<a th:href="@{/candidate/view-apply-job/}">
					<p class="mb-0">Job đã lưu</p>
				</a>
			</li>

			<li class="list-group-item candidate_panel-items">
				<a th:href="@{/candidate/change-pasword/}">
					<p class="mb-0">Đổi mật khẩu</p>
				</a>
			</li>
			<li class="list-group-item candidate_panel-items">
			<a th:href="@{/logout-url}">
					<p class="mb-0">Đăng xuất</p>
				</a>	
			</li>

		</ul>
	</div>


</div>

</div>