
<head th:replace="~{admin/frags/head :: head}" />

	<section class="bg-light p-1 p-md-2 p-xl-2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-xxl-11">
					<div class="card border-light-subtle shadow-sm">
						<div class="row g-0">
							<div class="col-12 col-md-6">
								<img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
									src="/assets/lte3/img/logo-img-1.webp" alt="Login to JobPortal">
							</div>
							<div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
								<div class="col-12 col-lg-11 col-xl-10">
									<div class="card-body p-1 p-md-2 p-xl-3">
										<div class="row">
											<div class="col-12">
												<div class="mb-1">
													<h3 class="text-center">
													</h3>
												</div>
											</div>
										</div>

										<form id="frm-forgot-password" method="post"
											th:action="@{/candidate/forgotPassword}" >

											<div class="row gy-3 overflow-hidden">
												<h4>BẠN QUÊN MẬT KHẨU</h4>
												<h6>Chúng tôi sẽ gửi email hướng dẫn bạn tạo mật khẩu mới</h6>
												<div class="col-12">
													<div class="form-group mb-2">
														<label for="Email" class="form-label"></label>
														<input type="email" class="form-control" name="email"
															id="Email" placeholder="Nhập Email đã đăng ký" />
													</div>
												</div>
										
										

												<button class="btn btn-primary btn-block" type="submit">Gửi yêu cầu</button>
											</div>
										</form>
										<div class="row">
											<div class="col-6">
										<!--
												<a href="/logon" class="text-dark text-decoration-none">Đã có tài
													khoản</a>
												<a href="/register/forgotPass"
													class="btn btn-outline-light text-dark text-decoration-none">Lấy lại mật khẩu</a>
-->

											</div>
											<div class="col-6">
											
												<a href="/" class=" text-dark text-decoration-none pd-50">Vào trang chủ</a>

											</div>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>


</html>