<head th:replace="~{views/fragments/head :: head}"></head>

<body>
	<!-- Header Start -->
	<header th:replace="~{views/fragments/menu_bar :: menu_bar}"> </header>

	<main>

		<div class="container py-2">
			<div class="row pt-15">
				<div th:replace="~{views/candidate/profile-panel :: profile-panel}"></div>
				<div class="col-xl-9 col-lg-9 col-md-8">
					<div class="container">
						<div class="row">
							<div class="col-12 normal-title">
								<p class="mb-2">Thông tin ứng viên</p>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12 text-right ">
								<a th:href="@{/candidate/edituser/}" class="genric-btn primary-border circle arrow small">
									Sửa</a>
							</div>
						</div>
						<!--Thông tin cá nhân-->
						<div class="row">
							<div class="col-sm-12 border">
								<ul class="list-group list-group-flush rounded-3">
									<li class="list-group-item d-flex justify-content-between align-items-center p-2">
										<div class="col-sm-4">
											<p class="mb-0">Họ và tên</p>
										</div>
										<div class="col-sm-8">
											<p class="text-muted mb-0" th:text="${loggedUser.fullName}">Trần Văn
												Long</p>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center p-2">
										<div class="col-sm-4">
											<p class="mb-0">Tên đăng nhập</p>
										</div>
										<div class="col-sm-6">
											<p class="text-muted mb-0" th:text="${loggedUser.userName}">Trần Văn
												Long</p>
										</div>
										<div class="col-sm-2">
											<!--<a th:href="@{/candidate/change-pasword/}"><span
													class="badge rounded-pill bg-primary">Đổi mật khẩu</span>
											</a>-->
										<!--	<a th:href="@{/candidate/change-pasword/}"
												class="genric-btn link small circle">
												Đổi mật khẩu</a>-->
										</div>
									</li>

									<li class="list-group-item d-flex justify-content-between align-items-center p-2">
										<div class="col-sm-4">
											<p class="mb-0">Địa chỉ</p>
										</div>
										<div class="col-sm-8">
											<p class="text-muted mb-0" th:text="${loggedUser.address}">Bay Area,
												San Francisco, CA</p>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between align-items-center p-2">
										<div class="col-sm-4">
											<p class="mb-0">Email</p>
										</div>
										<div class="col-sm-8">
											<p class="text-muted mb-0" th:text="${loggedUser.email}">
												example@example.com</p>
										</div>
									</li>
								</ul>
							</div>

						</div>
						<!--End Thông tin cá nhân-->


					</div>

				</div>
			</div>
		</div>


	</main>

	<!-- Footer Include -->
	<div th:replace="~{views/fragments/footer :: footer}"></div>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>
</body>

</html>