<head th:replace="~{views/fragments/head :: head}"></head>

<body>

	<!-- Header Start -->
	<header th:replace="~{views/fragments/menu_bar :: menu_bar}">	</header>
	<main>

		<!--Searching Erea-->
		<div th:replace="~{views/fragments/search-area-small :: search-area-small}"></div>
		<!-- Search Area End-->
		<!-- Category Start -->
		<!--		
		<div th:replace="views/fragments/seeker/category-list :: category-list"></div>
		-->		
		<!-- Category End -->
		<!-- View Job Detail -->
		<div th:replace="~{views/fragments/jobs/frag-job-detail :: frag-job-detail}"></div>
		<!-- View Job Detail End -->
		<!-- How  Apply Process Start-->

		<!-- Blog Area Start -->
<!--		<div th:replace="views/fragments/seeker/blog :: blog"></div>
-->		<!-- Blog Area End -->

		<!--Banner Contact-->	
<!--		<div th:replace="views/fragments/banner-contact :: banner-contact"></div>
-->
		<!-- End Banner  Contact-->

	</main>
	 
	 <!-- Footer Include -->
	 <div th:replace="~{views/fragments/footer :: footer}"></div>
	<!-- Script Include -->
	<div th:replace="~{views/fragments/script :: script}"></div>

</body>

</html>